{% extends "layout.html" %}


{% block content %}
<link rel="stylesheet" href="static/maquinas.css">
<div class="contact-form">
  <h2>Registrar Nueva Maquina</h2>
  <div class="contact-form">
    {% if succes %}
      <div class="alert alert-success alert-dismissible fade show" role="alert" id="alerta1">
          <strong></strong> {{ succes }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
    {% endif %}
  </div>
  <form action="/addmaquina" method="post" enctype="multipart/form-data">
    <label for="name">Nombre de maquina:</label>
    <input type="text"  name="nombre" required>

    <label for="Foto">Foto de maquina</label>
    <input type="file" id="imageninput"  required name="imagen" accept="image/*" />

    <label for="message">Descripcion:</label>
    <textarea id="message" name="Descripcion" required></textarea>

    <label for="message">Url del video :</label>
    <input type="url" name="url" id="" required>
    
    <input type="submit" value="submit" id="maqui">
  </form>

</div>

<script>
  setTimeout(function() {
      document.getElementById("alerta1").remove();
  }, 3000);

</script>
{% endblock %}
