{% extends "layout.html"%}


{% block content %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymou">

<link rel="stylesheet" href="/static/Inicio.css">
<link rel="stylesheet" href="/static/card.css">

<center>
    <h1 class="Titulo">Volumen</h1>
</center>

<section>
    <div class="myCard">
        <div class="innerCard">
            <div class="frontSide">
                <p class="title">Lunes</p>
                <p>Rutina del dia. <br>Piernas, cuadriceps y pantorrillas</p>
            </div>
            <div class="backSide">
                <p class="title">Instrucciones</p>
                <p>
                <ul>
                    <li>Calentamiento en bicicleta ppr 5 min</li>
                    <li>Tres series de 10 repeticiones de desmplantes cortos</li>
                    <li>Tres series de 10 repeticiones desentadillas zumo</li>
                    <li>Tres series de 10 repeticiones de sentadillas abiertas y cerradas en la Smith machine</li>
                    <li>Tres series de 10 repeticiones de extension de piernas en la maquina extension de piernas</li>
                    <li>Tres series de 10 repeticiones en la maquina hacka con piernas abiertas y cerradas</li>
                    <li>Tres series de 10 repeticiones en la maquina press45 con piernas abiertas y cerradas estas
                        llegando a tocar el hombro</li>
                    <li>Tres series de 10 repeticiones en la maquina Sentadilla Pendulo squad</li>
                </ul>
                </p>
                <h5>Usar peso de acuerdo a su tiempo en el gimnasio pregunte a su asesor </h5>
            </div>
        </div>
    </div>

    <div class="myCard">
        <div class="innerCard">
            <div class="frontSide">
                <p class="title">Martes</p>
                <p>Rutina del dia. <br> Pecho y triceps</p>
            </div>
            <div class="backSide">
                <p class="title">Instrucciones</p>
                <p>
                <ul>
                    <li>Calentamiento en pecho haciendo tres series de 10 repeticiones de pechadas abiertas y pechadas
                        diamante</li>
                    <li>Press de pecho con barra, combinado con mancuernas y press de pecho recta</li>
                    <li>Press de pecho inclinada con barra y combinado con mancuernas tres series de 10 repeticiones
                        cada una</li>
                    <li>Press de pecho declinada con barra y combinado con mancuernas tres series de 10 repeticiones
                        cada una</li>
                    <h5>Tricceps</h5>
                    <li>Copa con mancuerna</li>
                    <li>Trabajar Barras paralelas o "fondo"</li>
                    <li>Extensiones en polea alta ambas manos</li>
                    <li>Cada una de ellas en triceps que sea siempre 3 series de 10 repeticiones</li>
                </ul>
                </p>
                <h5>Usar peso de acuerdo a su tiempo en el gimnasio pregunte a su asesor </h5>
            </div>
        </div>
    </div>

    <div class="myCard">
        <div class="innerCard">
            <div class="frontSide">
                <p class="title">Miercoles</p>
                <p>Rutina del dia. <br>Espaldas y hombros</p>
            </div>
            <div class="backSide">
                <p class="title">Instrucciones</p>
                <p>
                <ul>
                    <h5>Espaldas</h5>
                    <li>Peso muerto: al fallo muscular (Peso muerto: con qué frecuencia debes hacer este ejercicio)</li>
                    <li>Remo para dorsal con mancuerna en banco: 3 series de 12 repeticiones con cada brazo</li>
                    <li>Jalón al pecho en polea alta: 3 series de 10 repeticiones</li>
                    <li>Jalón trasnuca: 2 series de 12 a 15 repeticiones. ¡Ojo con no lesionarte!</li>
                    <h5>Hombros</h5>
                    <li>Press de hombros con mancuernas. 4 series de 10 repeticiones</li>
                    <li>Elevaciones laterales para hombros. 4 series de 10 a 12 repeticiones</li>
                    <li>Trasnuca con barra en press para hombros. 4 series de 10 repeticiones</li>
                    <li>Press militar. 4 series de 8 a 12 repeticiones, según cargues más o menos pesado</li>
                </ul>
                </p>
                <h5>Usar peso de acuerdo a su tiempo en el gimnasio pregunte a su asesor </h5>
            </div>
        </div>
    </div>

    <div class="myCard">
        <div class="innerCard">
            <div class="frontSide">
                <p class="title">Jueves</p>
                <p>Rutina del dia. <br>Femoral y gluteo</p>
            </div>
            <div class="backSide">
                <p class="title">Instrucciones</p>
                <p>
                <ul>
                    <li>Sentadilla sumo en elevacion y sentadillas hasta abajo con barra 4 series de 12 repeticiones</li>
                    <li>Femoral tumbada y femoral pie en la maquina extension de piernas 4 series de 12 repeticiones</li>
                    <li>Peso muerto convencional 4 series de 12 repeticiones</li>
                    <li>Hip Thrust o puente. 4 series de 12 repeticiones</li>
                </ul>
                </p>
                <h5>Usar peso de acuerdo a su tiempo en el gimnasio pregunte a su asesor </h5>
            </div>
        </div>
    </div>

    <div class="myCard">
        <div class="innerCard">
            <div class="frontSide">
                <p class="title">Viernes</p>
                <p>Rutina del dia. <br>Brazos</p>
            </div>
            <div class="backSide">
                <p class="title">Instrucciones</p>
                <p>
                <ul>
                    <li>Entrenar antebrazos <br> Pregunta a tu asesor</li>
                    <li>Curl con barra Z (agarre abierto)</li>
                    <li>Curl de bíceps con ambos brazos</li>
                    <li>Curl de concentración</li>
                    <li>Extensiones de mancuerna sobre la cabeza</li>
                </ul>
                </p>
                <h5>Para mas ejercicios de triceps guiate con la rutina del dia martes</h5>
                <h5>Usar peso de acuerdo a su tiempo en el gimnasio pregunte a su asesor </h5>
            </div>
        </div>
    </div>

    <div class="myCard">
        <div class="innerCard">
            <div class="frontSide">
                <p class="title">Sabado</p>
                <p>Rutina del dia. <br>Rutina Opcional</p>
            </div>
            <div class="backSide">
                <p class="title">Instrucciones</p>
                <p>
                <ul>
                    <h2>Opcional</h2>
                </ul>
                </p>
                <h5>Usar peso de acuerdo a su tiempo en el gimnasio pregunte a su asesor </h5>
            </div>
        </div>
    </div>

</section>

<center>
    <h1 class="Titulo">Definicion</h1>
</center>

<section>
    <div class="myCard">
        <div class="innerCard">
            <div class="frontSide">
                <p class="title">Lunes</p>
                <p>Rutina del dia. <br>Piernas, cuadriceps y pantorrillas</p>
            </div>
            <div class="backSide">
                <p class="title">Instrucciones</p>
                <p>
                <ul>
                    <li>Calentamiento en bicicleta ppr 10 min</li>
                    <li>Tres series de 10 repeticiones de desmplantes cortos</li>
                    <li>Tres series de 10 repeticiones desentadillas zumo</li>
                    <li>Tres series de 10 repeticiones de sentadillas abiertas y cerradas en la Smith machine</li>
                    <li>Tres series de 10 repeticiones de extension de piernas en la maquina extension de piernas</li>
                    <li>Tres series de 10 repeticiones en la maquina hacka con piernas abiertas y cerradas</li>
                    <li>Tres series de 10 repeticiones en la maquina press45 con piernas abiertas y cerradas estas
                        llegando a tocar el hombro</li>
                    <li>Tres series de 10 repeticiones en la maquina Sentadilla Pendulo squad</li>
                </ul>
                </p>
                <h5>Usar peso de acuerdo a su tiempo en el gimnasio pregunte a su asesor <br>*Recuerda menos peso mas repeticiones*</h5>
            </div>
        </div>
    </div>

    <div class="myCard">
        <div class="innerCard">
            <div class="frontSide">
                <p class="title">Martes</p>
                <p>Rutina del dia. <br> Pecho y triceps</p>
            </div>
            <div class="backSide">
                <p class="title">Instrucciones</p>
                <p>
                <ul>
                    <li>Calentamiento en pecho haciendo tres series de 10 repeticiones de pechadas abiertas y pechadas
                        diamante</li>
                    <li>Press de pecho con barra, combinado con mancuernas y press de pecho recta</li>
                    <li>Press de pecho inclinada con barra y combinado con mancuernas tres series de 10 repeticiones
                        cada una</li>
                    <li>Press de pecho declinada con barra y combinado con mancuernas tres series de 10 repeticiones
                        cada una</li>
                    <h5>Tricceps</h5>
                    <li>Copa con mancuerna</li>
                    <li>Trabajar Barras paralelas o "fondo"</li>
                    <li>Extensiones en polea alta ambas manos</li>
                    <li>Cada una de ellas en triceps que sea siempre 3 series de 10 repeticiones</li>
                </ul>
                </p>
                <h5>Usar peso de acuerdo a su tiempo en el gimnasio pregunte a su asesor <br>*Recuerda menos peso mas repeticiones*</h5>
            </div>
        </div>
    </div>

    <div class="myCard">
        <div class="innerCard">
            <div class="frontSide">
                <p class="title">Miercoles</p>
                <p>Rutina del dia. <br>Espaldas y hombros</p>
            </div>
            <div class="backSide">
                <p class="title">Instrucciones</p>
                <p>
                <ul>
                    <h5>Espaldas</h5>
                    <li>Peso muerto: al fallo muscular (Peso muerto: con qué frecuencia debes hacer este ejercicio)</li>
                    <li>Remo para dorsal con mancuerna en banco: 3 series de 12 repeticiones con cada brazo</li>
                    <li>Jalón al pecho en polea alta: 3 series de 10 repeticiones</li>
                    <li>Jalón trasnuca: 2 series de 12 a 15 repeticiones. ¡Ojo con no lesionarte!</li>
                    <h5>Hombros</h5>
                    <li>Press de hombros con mancuernas. 4 series de 10 repeticiones</li>
                    <li>Elevaciones laterales para hombros. 4 series de 10 a 12 repeticiones</li>
                    <li>Trasnuca con barra en press para hombros. 4 series de 10 repeticiones</li>
                    <li>Press militar. 4 series de 8 a 12 repeticiones, según cargues más o menos pesado</li>
                </ul>
                </p>
                <h5>Usar peso de acuerdo a su tiempo en el gimnasio pregunte a su asesor <br>*Recuerda menos peso mas repeticiones*</h5>
            </div>
        </div>
    </div>

    <div class="myCard">
        <div class="innerCard">
            <div class="frontSide">
                <p class="title">Jueves</p>
                <p>Rutina del dia. <br>Femoral y gluteo</p>
            </div>
            <div class="backSide">
                <p class="title">Instrucciones</p>
                <p>
                <ul>
                    <li>Sentadilla sumo en elevacion y sentadillas hasta abajo con barra 4 series de 12 repeticiones</li>
                    <li>Femoral tumbada y femoral pie en la maquina extension de piernas 4 series de 12 repeticiones</li>
                    <li>Peso muerto convencional 4 series de 12 repeticiones</li>
                    <li>Hip Thrust o puente. 4 series de 12 repeticiones</li>
                </ul>
                </p>
                <h5>Usar peso de acuerdo a su tiempo en el gimnasio pregunte a su asesor <br>*Recuerda menos peso mas repeticiones*</h5>
            </div>
        </div>
    </div>

    <div class="myCard">
        <div class="innerCard">
            <div class="frontSide">
                <p class="title">Viernes</p>
                <p>Rutina del dia. <br>Brazos</p>
            </div>
            <div class="backSide">
                <p class="title">Instrucciones</p>
                <p>
                <ul>
                    <li>Entrenar antebrazos <br> Pregunta a tu asesor</li>
                    <li>Curl con barra Z (agarre abierto)</li>
                    <li>Curl de bíceps con ambos brazos</li>
                    <li>Curl de concentración</li>
                    <li>Extensiones de mancuerna sobre la cabeza</li>
                </ul>
                </p>
                <h5>Para mas ejercicios de triceps guiate con la rutina del dia martes</h5>
                <h5>Usar peso de acuerdo a su tiempo en el gimnasio pregunte a su asesor <br>*Recuerda menos peso mas repeticiones*</h5>
            </div>
        </div>
    </div>

    
    <div class="myCard">
        <div class="innerCard">
            <div class="frontSide">
                <p class="title">Sabado</p>
                <p>Rutina del dia. <br>Rutina Opcional</p>
            </div>
            <div class="backSide">
                <p class="title">Instrucciones</p>
                <p>
                <ul>
                   <h2>Opcional</h2>
                </ul>
                </p>
                <h5>Usar peso de acuerdo a su tiempo en el gimnasio pregunte a su asesor <br>*Recuerda menos peso mas repeticiones*</h5>
            </div>
        </div>
    </div>

</section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
{% endblock %}